@model movie.Models.Movie
@{
    ViewData["Title"] = "Detalhes do Vídeo";
    var endBase = Directory.GetCurrentDirectory();
}

<h1 style="text-align:center">@Html.DisplayFor(modelItem => Model.Titulo)</h1>
<hr />
@*--------Botão de Voltar--------*@
<div class="col-md-6">
    <button type="button" class="btn border border-secondary" style="background-color: gray; color: white;" onclick="location.href='@Url.Action("Index", "Movies")'"><b>Voltar</b></button>
</div>
<br />

<div class=container-flex style="text-align:center">

        @*-------Visualização do Vídeo-------*@
        <div class="container">
            <div class="videos">
                <video width="520" height="440" controls> <source src="~/video/@Model.Titulo" type="video/mp4" /> </video>
                <br />
            </div>
        </div>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Autor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Autor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Titulo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LocalGravacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.LocalGravacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TipoVideo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.TipoVideo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Extensao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Extensao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duracao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Duracao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Assunto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Assunto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Descricao)
            </dd>
        </dl>
        <div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.VideoId"><b>Editar</b></a>
</div>
    
</div>


