@model IEnumerable<movie.Models.Movie>

<h1>Galeria de Vídeos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalGravacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extensao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGravacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoVideo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extensao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VideoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VideoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VideoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
