@model IEnumerable<movie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" class="btn btn-success">Adicionar novo vídeo</a>
</p>
<table class="table table-striped">
    <thead class="table-dark align-content-center">
        <tr>
            <th></th>

            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <video width="160" height="80" autoplay loop><source src="~/video/@item.Titulo" type="video/mp4"> </video>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Duracao)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                <a class="btn" style="background-color:darkgrey; color: black" asp-action="Edit" asp-route-id="@item.VideoId">Editar</a> |
                <a class="btn" style="background-color:darkgreen; color: white" asp-action="Details" asp-route-id="@item.VideoId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.VideoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>